<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="http://listjs.com/no-cdn/list.js"></script>
    <meta charset=utf-8 />
    <title>Existing list</title>
    <style>
        body {
            font-family:sans-serif;
        }
        table td, table th {
            padding:5px;
        }
    </style>
</head>
<body>
<div id="contacts">
    <table>
        <thead>
        <tr>
            <th class="sort" data-sort="name">Name</th>
            <th class="sort" data-sort="cpp">ccp</th>
            <th colspan="2">
                <input type="text" class="search" placeholder="Search contact" />
            </th>
        </tr>
        </thead>
        <tbody class="list">
        <% if(users.length) {
                var counter = 0;
                users.forEach(function(user){ counter++; %>
        <tr>
            <td class="id" style="display:none;"><%= counter %></td>
            <td class="name"><%= user.local.email %></td>
            <td class="ccp"><%= user.ccp %></td>
            <td class="edit"><button class="edit-item-btn">Edit</button></td>
            <td class="remove"><button class="remove-item-btn">Remove</button></td>
        </tr>
        <% }) } %>
        </tbody>
    </table>
    <table>
        <td class="name">
            <input type="hidden" id="id-field" />
            <input type="text" id="name-field" placeholder="Name" />
        </td>
        <td class="ccp">
            <input type="text" id="ccp-field" placeholder="ccp" />
        </td>
        <td class="add">
            <button id="add-btn">Add</button>
            <button id="edit-btn">Edit</button>
        </td>
    </table>


</div>
</body>
<script>
    var options = {
        valueNames: [ 'id', 'name', 'ccp']
    };

    // Init list
    var contactList = new List('contacts', options);

    var idField = $('#id-field'),
            nameField = $('#name-field'),
            ccpField = $('#ccp-field'),
            addBtn = $('#add-btn'),
            editBtn = $('#edit-btn').hide(),
            removeBtns = $('.remove-item-btn'),
            editBtns = $('.edit-item-btn');

    // Sets callbacks to the buttons in the list
    refreshCallbacks();

    addBtn.click(function() {
        $.ajax({
            url: '/add',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({email: nameField.val(), ccp: addbits(ccpField.val()) })
        }).done(function(data, textStatus, jqXHR) {
            console.log("Success: " + data);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Error: " + errorThrown);
        }).always(function() {
            console.log("Done!");
        });
        contactList.add({
            id: Math.floor(Math.random()*110000),
            name: nameField.val(),
            ccp: addbits(ccpField.val())
        });
        clearFields();
        refreshCallbacks();
    });

        function addbits(expr){
            var chars = expr.split("");
            var n = [], op = [], index = 0, oplast = true;

            n[index] = "";

            // Parse the expression
            for (var c = 0; c < chars.length; c++) {

                if (isNaN(parseInt(chars[c])) && chars[c] !== "." && !oplast) {
                    op[index] = chars[c];
                    index++;
                    n[index] = "";
                    oplast = true;
                } else {
                    n[index] += chars[c];
                    oplast = false;
                }
            }

            // Calculate the expression
            expr = parseFloat(n[0]);
            for (var o = 0; o < op.length; o++) {
                var num = parseFloat(n[o + 1]);
                switch (op[o]) {
                    case "+":
                        expr = expr + num;
                        break;
                    case "-":
                        expr = expr - num;
                        break;
                    case "*":
                        expr = expr * num;
                        break;
                    case "/":
                        expr = expr / num;
                        break;
                }
            }

            return expr;
        }


    editBtn.click(function() {
        $.ajax({
            url: '/submit',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({email: nameField.val(), ccp: addbits(ccpField.val()) })
        }).done(function(data, textStatus, jqXHR) {
            console.log("Success: " + data);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Error: " + errorThrown);
        }).always(function() {
            console.log("Done!");
        });

        var item = contactList.get('id', idField.val())[0];
        item.values({
            id:idField.val(),
            name: nameField.val(),
            ccp: addbits(ccpField.val())

        });
        clearFields();
        editBtn.hide();
        addBtn.show();
    });

    function refreshCallbacks() {
        // Needed to add new buttons to jQuery-extended object
        removeBtns = $(removeBtns.selector);
        editBtns = $(editBtns.selector);

        removeBtns.click(function() {
            $.ajax({
                url: '/remove',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({email: $(this).closest('tr').find('.name').text()})
            }).done(function(data, textStatus, jqXHR) {
                console.log("Success: " + data);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log("Error: " + errorThrown);
            }).always(function() {
                console.log("Done!");
            });
            var itemId = $(this).closest('tr').find('.id').text();
            contactList.remove('id', itemId);
        });

        editBtns.click(function() {
            var itemId = $(this).closest('tr').find('.id').text();
            var itemValues = contactList.get('id', itemId)[0].values();
            idField.val(itemValues.id);
            nameField.val(itemValues.name);
            ccpField.val(itemValues.ccp);

            editBtn.show();
            addBtn.hide();
        });
    }

    function clearFields() {
        nameField.val('');
        ccpField.val('');
    }
</script>
</html>